<h1>About Us</h1>
<br />
<div class="about col-md-6">
  <div>
    <p>Stem and Seed is a seed and farm supplier for family owned farms.  Our mission is to fuse the ease of accesibility of the modern world with the ancient agricultural lifestyle that is still so necessary to our way of life.</p>
  </div>
  <div>
    <%= image_tag("plantech.jpeg", class: "img-fluid my-image") %>
  </div>
</div>
