<h1>Welcome to Stem and Seed!</h1>

<h2>Boston-based seed and farm supplier</h2>
<p>Welcome! The current date and time is <%= Time.now %></p>
<%= image_tag("plant.jpg", class: "img-fluid my-image") %>
