@import url('https://fonts.googleapis.com/css?family=Acme');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Acme', sans-serif;
}

html, body {
  height: 100%;
  background-color: #FCF3E8;
}

a{
  color: inherit;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 1.5em;
}

.mr-auto {
  margin-left: auto;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 5% 10% 0 10%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

/*Sticky Footer*/
.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  background: #809B68;
}
/*end of Sticky Footer*/

h1 {
  font-size: 3em;
}

.card {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.btn-outline:hover {
  background-color: #7f9b69;
  color: white;
}

.card-title {
  margin-top: 5%;
}

.card-link {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-size: 1.5em;
}

.my-image {
  border: solid 5px black;
}

.carousel-inner {
  width: auto;
  font-size: 3em;
}
