@import url('https://fonts.googleapis.com/css?family=Acme');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Acme', sans-serif;
}

html, body {
  height: 100%;
  background-color: #FCF3E8;
}

a{
  color: inherit;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 1.5em;
}

.mr-auto {
  margin-left: auto;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin: 5% 10% 0 10%;
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

/*Sticky Footer*/
.site-footer, .page-wrap:after {
  height: 142px;
}

.site-footer {
  background: #809B68;
}
/*end of Sticky Footer*/

h1 {
  font-size: 3em;
}

.my-image {
  border: solid 5px black;
}

.products {
  background-color: #BADDC2;
  margin: 1%;
  border: solid 2px black;
  height: 370px;
  max-height: 370px;
}

.img-products {
  height: 150px;
  width: 225px;
  margin-top: 10%;
  border: 1px black solid;
}

.price {
  border: solid 2px black;
  width: 50%;
}

.price:hover {
  cursor: pointer;
  background-color: #F0F2BC;
  transition-duration: 0.4s;
}

.carousel-inner {
  width: auto;
  font-size: 3em;
}
