<% if signed_in? && current_user.admin? %>
<h1>Editing Product</h1>
<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
<% else %>
<h1>You're not allowed to be here!</h1>
<% end %>
