<!DOCTYPE html>
<html>
<head>
  <title>Stem and Seed</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/products"><li>Products</li></a>
      <a href="/orders"><li class="glyphicon glyphicon-shopping-cart"></li></a>
      <a href="/simple_pages/about"><li>About</li></a>
      <a href="/simple_pages/contact"><li>Contact Me</li></a>
    </ul>
  </nav>
  <div class="page-wrap" align="center">
    <%= yield %>
  </div>
  <footer class="site-footer">
    &copy; Matt Primpas
  </footer>
</body>
</html>
